OPENAI_API_KEY=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
ANTHROPIC_API_KEY=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

# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=true

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
